<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/estoque.css') }}">
    <title>Homepage</title>
</head>
<body>
    <div class="content-container">
        <div class="img-holder">
            <img style="width: 60px; margin-top: .8rem;" src="{{ url_for('static', filename='./images/easy.png') }}">
        </div>
        <span class="content-title">
            Easy Software
        </span>

        <span class="content-title small">
           Adicionar Produtos
        </span>
        <div class="button-holder">
            <a class="btn-1" href="/produtos">Produtos</a>
            <a class="btn-2" href="/estoque">Estoque</a>
            <a class="btn-3" href="/prateleira">Prateleira</a>
        </div>

        <div class="button-holder">
            <a href="/estoque">Adicionar Produtos</a>
            <a href="/estoque/info">Informações de Estoque</a>
            <a href="/estoque/agend">Agendamento</a>
        </div>
        
        <div class="holder">
            <form action="" method="post">
                <label for="product_name">Nome do Produto</label><br>
                <input type="text" name="product_name" id="product_name" placeholder="Ex.: Detergente">
                <br>
                <label for="product_barcode">Código de Barras</label><br>
                <input type="text" name="product_barcode" id="product_barcode" placeholder="Ex.: 555441">
                <br>
                <label for="brand">Marca</label><br>
                <input type="text" name="brand" id="brand" placeholder="Ex.: Omo">
                <br>
                <label for="product_price">Preço (R$)</label><br>
                <input type="number" step="0.01" name="product_price" id="product_price" placeholder="Ex.: 001">
                <br>
                <label for="product_amount">Quantidade</label><br>
                <input type="number" name="product_amount" id="product_amount" placeholder="Ex.: 001">
                <br>
                <br>
    
                <button type="submit">Adicionar produto</button>
            </form>
        </div>


    </div>
    
</body>
</html>